[Unit]
Description=SimpleHTTPServer
After=network-online.target
Wants=network-online.target


[Service]
#each user needs to change the port to an unused value above 1024
ExecStart=/usr/bin/python3.4 -m http.server 8888
WorkingDirectory=%h/Public
Restart=always


[Install]
WantedBy=multi-user.target
