[Unit]
# This unit is only meant to be run to get dehydrated certificates; once it is
# run, it should be deactivated and nginx should be loaded instead.
Description=Basic HTTP server running on a UNIX socket.

[Service]
ExecStartPre=-/usr/bin/rm %h/.nginx.sock
ExecStart=%h/bin/http-server-unix-socket %h/.nginx.sock
ExecStartPost=/usr/bin/rm %h/.nginx.sock
WorkingDirectory=%h/Public
